/* reset code and common code starts here  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
}

html {
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #fff;
    width: 120rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}
.logo-figure{
    border: 1px solid #fafafa;
}
.logo{
    font-size: 4rem;
}
nav ul {
    display: flex;
    gap: 1rem;
}
nav ul li {
    padding: 1rem;
    transition: all 0.4s;
}
nav ul li:hover{
   background-color: crimson;
   border-radius: .6rem;
}
.nav-link{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.banner{
    padding: 5rem 1rem;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    display: flex;
}
.banner-img{
    width: 55rem;
    height: 55rem;
    border: .3rem solid black;
}
.banner aside{
    flex-basis: 50%;
    text-align: center;
}
.banner article{
    flex-basis: 50%;
    margin: 1rem;
}
.banner-heading{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 1rem;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
.banner-p{
   font-size: 1.8rem;
   justify-content: center;
}
#about{
    background-color: #4c4c4c;
    color: white;
}

.section-center {
    padding: 5rem 1rem;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-heading{  
    font-size: 8rem;
    text-align: center;
    font-family: "Italianno", cursive;
}

.cards{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card{
    flex: 1;
    border-radius: 0.6rem;
    background-color: #a09d9d;
    padding: 3rem 1rem;
    margin: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    transition: transform 0.3s;
    color: black;
   
}
 

.card:hover {
    transform: scale(1.1);
}

.card-d{
    padding: 0.4rem 0;
    text-align: justify;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}
.card-h{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;

}
 
.btn {
    width: 80%;
    align-self: center;
    background-color: rgb(230, 159, 8);
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
#archive{
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
}
.arck-h{
        margin: 10rem;
        font-size: 8rem;
        text-align: center;
        font-family: "Italianno", cursive;
        color: black;
}
#archive img
{
    transition: transform 0.3s;
    height: 12rem;
    border-radius: 0.5rem;
    margin: 2.5rem;
}
.ark-contaner{
   
    padding: 2rem;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
     
}
ul{
    justify-content: center;
    align-items: center;
    display: flex;
}
.ark-list li{
    display: flex;
}
.ark-list li :hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 768px){
    html{
        font-size: 55.5%;
    }
}
@media only screen and (max-width: 600px){
    html{
        font-size: 48.5%;
    }
    header {
        flex-direction: column;
    }
    nav ul{
        padding-left: 2.5rem;
        flex-direction: column;
    }
    .banner {
        flex-direction: column;
         text-align: center;
    }
     
}